* {
    box-sizing: border-box;
}



html {
    background-color: rgb(241, 170, 182);
}

h1 {
    text-align: center;
    color: rgb(136, 72, 136);
    text-shadow: 0 0 6px skyblue,
        0 0 6px skyblue,
        0 0 6px skyblue,
        0 0 6px skyblue;
}

.clock {
    position: relative;
    width: 90vw;
    aspect-ratio: 1/1;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    background-color: white;
    border-radius: 50%;
    border-style: double;
    background-color: rgb(156, 109, 156);
}

.number {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    font-size: 2em;
    font-family: "Yuji Mai", serif;
    text-shadow: 0 0 8px skyblue,
        0 0 8px skyblue;
    cursor: not-allowed;

}

.twelve {
    left: 45%;
    top: 0%;
}

.three {
    left: 93%;
    top: 43%;
}

.six {
    left: 50%;
    top: 87%;
}

.nine {
    left: 0%;
    top: 43%;
}

.one {
    left: 72%;
    top: 10%;
    transform: rotate(30deg);
}


.two {
    left: 85%;
    top: 23%;
    transform: rotate(50deg);
}


.four {
    left: 85%;
    top: 65%;
    transform: rotate(110deg);
}


.five {
    left: 70%;
    top: 80%;
    transform: rotate(145deg);
}


.eleven {
    top: 8%;
    left: 20%;
    transform: rotate(-30deg);
}

.ten {
    top: 24%;
    left: 3%;
    transform: rotate(-55deg);
}

.eight {
    top: 65%;
    left: 8%;
    transform: rotate(-115deg);
}

.seven {
    top: 81%;
    left: 25%;
    transform: rotate(-145deg);
}

#hour,
#minute,
#second {
    position: absolute;
    left: 50%;
}

#hour {
    width: 0.8%;
    height: 15%;
    top: 35%;
    border-radius: 50%;
    background-color: rgb(22, 22, 189);
    transform-origin: bottom center;
    z-index: 3;
}

#minute {
    width: 0.8%;
    height: 20%;
    top: 30%;
    border-radius: 50%;
    background-color: rgb(191, 191, 18);
    transform-origin: bottom center;
    z-index: 2;
}

#second {
    width: 4px;
    height: 23%;
    top: 27%;
    border-radius: 50%;
    background-color: rgb(230, 52, 52);
    transform-origin: bottom center;
    z-index: 1;
}

i {
    font-size: 2em;
    color: rgb(184, 11, 11);
}